html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.myDiv img{
    height: 500px;
    width: 1300px;
    margin-left: 10px;
}

img {
    width: 200px;
    height: 120px;
    margin: 20px;
    padding: 20px;
}

.card {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 20px;
}

.container {
    padding: 2px 16px;
}

h2 {
    color: red;
    text-align: center;
}

h3 {
    color: purple;
    text-align: center;
}

.footer{
    position : absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #0000ff;
}