@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ViewData["Title"]</title>
</head>
<body>

   <h2> Welcome to Nuxus Hotel</h2>
   <h3> Dear Guest, Please book now. Please see the rooms below before booking</h3>

   <div class ="myDiv">
       <img src="/images/hotel.jpg" alt="Jane">
   </div>

   <div class="card">
       <img src="/images/delux1.jpg" alt="Jane">
       <div class="container">
           <h2>Deluxe Room</h2>
           <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now">
           </a>
       </div>
   </div>

    <div class="card">
        <img src="/images/delux2.jpg.jpg" alt="Jane">
        <div class="container">
            <h2>Deluxe Room</h2>
            <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now">
            </a>
        </div>
    </div>

    <div class="card">
       <img src="/images/double.jpg" alt="Jane">
       <div class="container">
           <h2>Deluxe Room</h2>
           <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now">
           </a>
       </div>
   </div>

    <div class="card">
        <img src="/images/single.jpg" alt="Jane">
        <div class="container">
            <h2>Deluxe Room</h2>
            <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now">
            </a>
        </div>
    </div>

    <div class="card">
        <img src="/images/standard.jpg" alt="Jane">
        <div class="container">
            <h2>Deluxe Room</h2>
            <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now">
            </a>
        </div>
    </div>

    <div class="card">
        <img src="/images/triple.jpg" alt="Jane">
        <div class="container">
            <h2>Deluxe Room</h2>
            <a asp-controller="Bookings" asp-action="Create">
                <input type="button" class="btn btn-primary" value="Book Now">
            </a>
        </div>
    </div>

</body>
</html>